body, p, ul, li, img{
    margin: 0;
    padding: 0;
}
#header{
    height: 20vh;
    text-align: center;
}
#container{
    overflow: hidden;
}
#container ul{
    overflow: hidden;
    width: 66vw;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
#container ul li{
    width: 20vw;
    height: 40vh;
    margin: 1vw 1vh;
    float: left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#container ul li img{
    width: 20vw;
    height: 36vh;
}
#container ul li p{
    line-height: 4vh;
    text-align: center;
    color: white;
    background-color: brown;
}
